@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300&display=swap');

html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	font-family: 'Noto Sans KR',  sans-serif;
}